@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    transition: all .3s ease-in-out;
}
:root {
	--primary-color: #717275;
	--background-image: transparent;
	--background-color: #eff0f4;
	--nav-background-color: #fff;
	--menu-background-color: #0f6fd5;
	--facilities-p-color: #777;
	--black-white : #000;
	--paragraph : #494b4c;
	--about-us-bg: transparent;
	--pv-bg: #0f6fd5;
	--animation: none;
	--size: cover;
	--testimonial-background: #fff3f3;
	--testimonial: #f44336;
	--testimonial-animation: none;
	--testimonial-animation-background: none;
	--sub-header-bg: #0f6fd5;
	--sub-header-bg-h1: #fff;
	--bar: #0f6fd5;
	--min-nav-color: #0f6fd5;
	--min-fas: #0f6fd5;
	--menu-color: #fff;
	--menu-bg-color-hover: #fff;
	--menu-color-hover: #0f6fd5;
	--menu-lst-cld: #eff0f4;
}
header 
{
    width: 100%;
    position: absolute;
    height: 64px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
nav{
	display: flex;
	padding: 0 6%;
	justify-content: space-between;
	align-items: center;
	background: var(--nav-background-color);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2023;
    transition: all .3s ease;
	box-shadow: 0 4px 20px 0 rgba(255, 255, 255, .5);
}
nav>a {
    text-decoration: none;
    color: #FF4400;
}
nav img{
	width: 75px;
}
.logo-title {
    display: flex;
    align-items: center;
}
.logo-name {
    padding: 0 10px;
    font-size: 22px;
    font-weight: 700;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 14px;
	position: relative;
}
.nav-links ul li a{
	color: var(--primary-color);
	text-decoration: none;
	font-size: 17px;
}
.nav-links ul li a::after{
	content: "";
	width: 0%;
	height: 2px;
	background: var(--primary-color);
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li a:hover {
	color: #FF4400;
}
.nav-links ul li a:hover::after,.nav-links ul li a.active::after{
	width: 100%;
	background-color: #FF4400;
}
.navlinks-flex {
    display: flex;
    justify-content: center;
}
nav .fa{
	display: none;
}
@media(max-width: 850px) {
	#close{
		display: none;
		position: fixed;
		background: rgba(4, 9, 30, 0.8);
		height: 100%;
		width: 100%;
		z-index: 2020;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links ul li a{
		color: var(--min-nav-color);
	}
	.nav-links{
		position: fixed;
		background: var(--nav-background-color);
		height: 100%;
		width: 200px;
		top: 0;
		bottom: 0;
		right: -200px;
		text-align: left;
		z-index: 2022;
		transition: 0.75s;
	}
	nav{
		backdrop-filter: none;
	}
    .navlinks-flex {
        flex-direction: column;
    }
	nav .fa{
		display: block;
		color: var(--primary-color);
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	nav .fa-bars{
		color: var(--bar);
	}
	nav .fas{
		color: var(--min-fas);
	}
	.nav-links ul{
		padding: 0 10px;
	}
	.nav-img{
		position: relative;
		width: 160px;
		height: 80px;
	}
	.hidden{
		transition: 1.75s;
	}
}
/* Drop-down-menu */

.sub-menu-1{
	display: none;
	max-height: 100vh;
}
.sub-menu-1::before{
	content: '';
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent var(--menu-background-color) transparent;
	display: inline-block;
	left: 50%;
	top: -10px;
	position: absolute;
	transform: translateX(-50%);
}
.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position:absolute;
	z-index: 2;
	margin-left:-15px;
	top: 100%;
	background: var(--menu-background-color);
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display:block;
	margin:0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu-bar ul li:hover .sub-menu-1 ul a li{
	width:140px;
	background:transparent;
	border-radius:0;
	text-align:left;
	color: var(--menu-color);
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul a{
	display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul a li:hover{
	transition: 0.25s;
	background-color: var(--menu-bg-color-hover); /* #fff */
	color: var(--menu-color-hover); /* #0f6fd5 */
}
.menu-bar ul li:hover .sub-menu-1 ul a:hover li{
	transition: 0.25s;
	background-color: var(--menu-bg-color-hover); /* #fff */
	color: var(--menu-color-hover); /* #0f6fd5 */
}
.sub-menu-1 ul li{
	padding: 2.5px 10px;
}
.nav-links .sub-menu-1 ul a:hover::after{
	width: 0%;
}
.fa-angle-right{
	float:right;
}
.sub-menu-2{
	display:none;
}
.hover-me:hover .sub-menu-2{
	position:absolute;
	display:block;
	margin-top:-40px;
	margin-left:140px;
	background:rgb(15, 111, 213);
}

.main-container {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 15px;
    color: white;    
    background: linear-gradient(rgba(4, 9, 30, .7), rgba(4, 9, 30, .8)),url('../image/coding-image.webp') no-repeat center center;
    background-size: cover;
}
.container {
    width: 100%;
    max-width: 1180px;   
    margin: 0 auto; 
}
.container-row {
    width: 100%;
    margin: -15px -15px 0 -15px;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
}

.container-column {
    width: 55%;
    padding: 0 15px;
    display: inline-block;
}
.container-column-image {
    margin-bottom: 8px;
}
.container-column-title>h1 {
    font-family: "Oswald", sans-serif;
    color: #fff;
    /* background-color: #ffa53b; */
    padding: 20px 25px;
    letter-spacing: 5px;
    font-weight: 500;
    text-decoration: underline;
    font-size: 64px;
    line-height: 140%;
    margin-bottom: 16px;
}
.container-column-title>h1>span {
    /* color: #FF4400; */
    text-decoration: underline;
    text-shadow: 0 0 5px rgba(4, 7, 11, .5);
}
.container-column-2 {
    width: 45%;
    padding: 0 15px;
    display: inline-block;
}
.container-column-list-2 {
    padding: 25px 15px;
}
.image-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-block {
    width: 100%;
    text-align: center;
}
.container-column-full-image {
    display: inline-block;
    width: 65%;
    height: auto;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.container-column-full-image img {
    object-fit: contain;
    top: 0;
    left: 0;
    max-width: 100%;
}
.container-column-list {
    margin-top: -30px;
    margin-right: -60px;
    /* background-color: #fff; */
    padding: 0 0 0  20px;
}
.container-column-list>p {
    font-size: 22px;
    color: #000;
    padding: 25px 20px;
    background-color: #fff;
}
.container-column-list-2>ul {
    padding-left: 1.3em;
    list-style: none;
}
.container-column-list-2>ul li {
    font-size: 22px;
    color: #fff;
    text-shadow: 0 0 5px rgba(4, 7, 11, .7);
    padding: 5px 10px;
}
.container-column-list-2>ul li .fa-check {
    padding-right: 10px;
}
.container-column-text strong {
    font-size: 24px;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    background-color: transparent;
}
.container-column .btn {
    display: inline-block;
    margin-left: 20px;
}
.container-column .btn button {
    outline: none;
    border: 0;
    padding: 15px 25px;
    color: #000;
    background-color: #FFF;
    font-size: 22px;
    position: relative;
    transition: all .3s ease-in-out;
}
.container-column .btn button .fa-arrow-right {
    opacity: 0;
    margin-left: -15px;
}
.container-column .btn button:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #000;
}
.container-column .btn button:hover .fa-arrow-right {
    opacity: 1;
    margin-left: 10px;
}
.container-column .btn button::before {
    transition: all .3s ease-in-out;
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    background-color: #000;
    width: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
.container-column .btn button:hover:before {
    width: 100%;
}
/* .container-column .btn button::after {
    transition: all .3s ease-in-out;
    content: '\f061';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    opacity: 0;
    margin-left: 0;
    float: right;
    position: absolute;
}
.container-column .btn button:hover::after {
    opacity: 1;
    margin-left: 15px;
} */
@media (max-width: 768px) {
    .container-column-title>h1 {
        line-height: 38px;
        color: rgba(255,255,255,1);
        font-size: 36px;
        margin-top: 80px;
    }
    .container-column-list>p {
        padding: 10px;
        font-size: 18px;
    }
    .container-column-text strong {
        font-size: 16px;
    }
    .container-column-full-image {
        width: 100%;
    }
    .container-column {
        width: 100%;
    }
    .container-column .btn button {
        padding: 10px 15px;
    }
    .container-column-list-2 {
        padding: 10px;
    }
    .container-column-2 {
        width: 100%;
    }
    .container-column-list-2>ul {
        padding-left: 10px;
    }
    .container-column-list-2>ul li {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .container-row {
        flex-direction: column;
    }
}
.description {
    padding: 64px 0;
    position: relative;
    width: 100%;
    background-color: #f3f6f8;
}
.description-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.description-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 5%;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    text-align: left;
    background-color: #fff;
    color: #333; /* Dark gray font color */
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #ff4400;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.description-image {
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8px;
}
.description-image img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
.description-column-text {
    width: 100%;
    align-items: stretch;
    padding: 0 15px;
    font: inherit;
    background-color: #fff;
    line-height: 140%;
}

.description-column-text h4 {
    font-size: 34px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height: 140%;
    margin-bottom: 12px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Dark gray font color */
     margin-bottom: 10px;
}
.description-column-text h4 span {
    color: #FF4400;
}
.description-column-text p {
    color: black;
    margin-bottom: 24px;
}
.description-column-text h3 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(18,18,18,1);
}
.scroll-sliders {
    position: relative;
    height: 90px;
}
.swiper 
{
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
:root{
    --swiper-theme-color: #0f6fd5;
    --swiper-navigation-color: #fff;
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: #999;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #0f6fd5;
}
.swiper-button-next, .swiper-button-prev{
    background: transparent;
    color: #979797!important;
    padding: 6px 10px;
    opacity: .7;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 20px!important;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
}
.swiper-button-next{
    right: 0!important;
    transform: translateY(-25%)!important;
}
.swiper-button-prev{
    transform: translateY(-25%)!important;
    left: 0!important;
}
.swiper-button-next:hover:after{
    animation: motion-next 1s linear infinite;
}
.swiper-button-prev:hover:after{
    animation: motion-prev 1s linear infinite;
}
@keyframes motion-prev{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-10px);
        opacity: 0;
    }
}
@keyframes motion-next{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(10px);
        opacity: 0;
    }
}

.description-column-image {
    width: 45.1%;
    align-items: stretch;
    padding: 0 15px;
}
.description-column-img {
    width: 50%;
}
.description-column-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.description-image {
    width: 50%;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.description-image img {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    object-fit: contain;
}
.ds-flx-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.description-image p {
    color: rgba(117,117,117,1);
    font-size: 13px;
    line-height: 150%;
    text-align: center;
}

.programs {
    width: 100%;
    position: relative;
    background-color: #fff;
}
.program-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 25px;
}
.program-heading-container, .program-heading-paragraph {
    width: 100%;
    margin: auto;
    text-align: center;
    max-width: 1180px;
}
.program-heading-paragraph p {
    max-width: 960px;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 20px;
    color: #717275;
}
.program-heading h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 140%;
    color: #ff4400;
}
.program-heading h2::after {
    content: '';
    width: 100px;
    height: 3px;
    margin: auto;
    display: block;
    text-align: center;
    background-color: #f06901;
}
.program-list-row {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.program-item-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.program-item-column {
    position: relative;
    width: 25%;
    padding: 15px;
    overflow: hidden;
}
.program-item-padding-10 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    overflow: hidden;
    border: 0 solid black;
    border-top: 2px solid #f06901;
    border-bottom: 2px solid #f06901;
    background-color: transparent;
    box-shadow: 0px 35px 115px -25px rgba(0,0,0,0.15);
    transition: all .5s ease-in-out; 
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #f06901;
    opacity: 0;
    transition: all .5s ease-in-out; 
    bottom: -100%;
}
.program-item-padding-10:hover .overlay, .default-overlay {
    bottom: 0;
    opacity: 1;
}
.program-item-padding-10 img {
    z-index: 4;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    transition: all .5s ease-in-out; 
    filter: contrast(75%);
    /* height: 100%; */
    object-fit: cover;
}
.program-item-inside {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    z-index: 5;
}
.program-items-row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}
.program-item-column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.program-item-column-container img {
    max-width: 100%;
    max-height: 100%;
}
.program-item-column-title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.program-item-text-container {
    width: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
}
.program-item-text-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    width: 100%;
    height: 100%;
    position: relative;
}
.program-item-text-row
.program-name-overlay {
    position: absolute;
    top: 200px;
    text-align: center;
    visibility: visible!important;
}
.program-item-padding-10:hover 
.program-item-text-row
.program-name-overlay {
    top: 0;
}
.program-item-text-row 
.program-paragraph p {
    position: relative;
    display: block;
    color: rgba(110,110,110,1);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.program-paragraph {
    position: relative;
    visibility: hidden;
    overflow: hidden;
}
.program-paragraph-overlay {
    transition: all .5s ease-in-out;
    color: #eff0f4;
    position: absolute;
    width: 100%;
    text-align: left;
    height: 100%;
    visibility: visible;
    right: -100%;
    top: 0;
}
.program-item-padding-10:hover 
.program-paragraph-overlay {
    right: 0;
}
.program-item-padding-10:hover img {
    scale: 5;
    transform-origin: left top;
    /* filter: blur(10px); */
}
.program-item-text-row p.program-name {
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    transition: all .5s ease-in-out;
    visibility: hidden;
}
.link-invisible {
    visibility: hidden;
    position: relative;
    text-align: right;
    float: right;
    display: inline;
    width: fit-content;
}
.link-overlay {
    position: absolute;
    display: inline-block;
    right: 0;
    transition: all .5s ease-in-out;
    left: 0;
    visibility: visible;
    bottom: -100%;
}
.program-item-padding-10:hover 
.link-overlay {
    bottom: 0;
}
.program-item-text-row a {
    text-decoration: none;
    padding: 10px 12px;
    display: inline-block;
    text-align: right;
    color: #FFF;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: all .71s ease-in-out;
}
.program-item-text-row a::after {
    content: "\f061";
    margin-left: 10px;
    opacity: 0;
    font-weight: 900;
    transition: all .71s ease-in-out;
    font-family: "Font Awesome 6 Free";
}
.program-item-text-row a:hover::after {
    opacity: 1;
}
.program-item-text-row a::before {
    content: '';
    transition: all .71s ease;
    position: absolute;
    display: block;
    margin: auto;
    width: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #fff;
    height: 2px;
}
.program-item-text-row a:hover::before {
    width: 100%;
}

@media (max-width: 768px) {
    .ds-flx-c-c {
        flex-direction: column;
    }
    .description-column-img {
        width: 100%;
    }
    .program-item-container {
        overflow-y: scroll;
    }
    .program-item-container::-webkit-scrollbar {
        height: 5px;
    }
    .program-item-container::-webkit-scrollbar-thumb {
        border-radius: 2.5px;
        background-color: #f44336;

    }
    .program-items-row {
        width: max-content;
    }
    .program-item-column {
        width: 300px;
        flex-direction: column;
        padding: 10px 5px;
    }
    .program-item-text-row a {
        padding-block: 10px;
    }
    .program-item-text-row .program-name-overlay {
        top: 180px;
    }
}
.get-in-touch {
    width: 100%;
    display: block;
    text-align: center;
    padding: 34px 0 90px 0;
}
.get-in-touch-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.get-in-touch-sub-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.get-in-touch-heading h2 {
    line-height: 140%;
    font-size: 38px;
    font-weight: 700;
}
.get-in-touch-form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.get-in-touch-form-column {
    width: 100%;
}
.get-in-touch-form-input-container {
    margin-bottom: 10px;
    padding-block: 5px;
    width: 100%;
    text-align: left;
}
.get-in-touch-form-input-container label {
    color: rgba(117,117,117,1);
    margin-bottom: 10px;
    display: inline-block;
}
.get-in-touch-form-input input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid currentColor;
    border-radius: 5px;
    line-height: 140%;
    font-size: 18px;
}
.get-in-touch-form-input input:focus-visible {
    border: 1px solid #FF4400;
}
.get-in-touch-form-input select {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid currentColor;
    border-radius: 5px;
    line-height: 140%;
    font-size: 18px;
}
.get-in-touch-form-input button {
    padding: 16px 42px;
    display: inline-block;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-size: 14px;
    line-height: 1em;
    font-weight: 600;
    background-color: #FF4400;
    border: 1px solid #FF4400;
}
.get-in-touch-form-input button:hover {
    cursor: pointer;
}
@media (max-width: 768px) {
    .get-in-touch-heading h2 {
        font-size: 24px;
    }
    .get-in-touch-sub-container {
        width: 75%;
    }
}
.awards {
    width: 100%;
    display: block;
    text-align: center;
    padding: 34px 0 90px 0;
}
.awards-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.awards-heading h4 {
    font-size: 32px;
    line-height: 140%;
    font-weight: 700;
}
.awards-row-container {
    width: 90%;
    margin: 0 auto;
}

.awards-row {
    display: flex;
    /* justify-content: space-between; */
    align-items: stretch;
}
.awards-column-container {
    width: 33.33%;
    padding: 0 15px;
}
.awards-column {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 5px 30px 0px rgba(214,215,216,0.57);
}
.awards-column-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.awards-column-item img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: contain;
}
.awards-column-text {
    width: 100%;
    margin: 10px 0;
}
.awards-column-text h4 {
    font-size: 24px;
    line-height: 32px;
    font-family: 700;
    text-align: left;
}
.awards-column-text p {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    font-family: 400;
    color: rgba(112,112,112,1);
    text-align: left;
}
.mini-programs {
    width: 100%;
    display: block;
    text-align: center;
    padding: 34px 0 68px 0;
}
.mini-programs-container {
    width: 100%;
    max-width: 1180px;
    margin: 20px auto;
}
.mini-program-heading {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}
.mini-program-heading-container {
    width: 100%;
    margin: 0 auto;
}
.mini-program-heading-container h2 {
    font-size: 38px;
    line-height: 140%;
    font-weight: 700;
    text-align: center;
}
.mini-program-list-container {
    width: 100%;
    max-width: 1180px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.mini-program-list {
    width: 26%;
    text-align: center;
    margin: 30px auto;
    padding: 0 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 30px 0px rgba(214,215,216,0.57);
}
.mini-program-item {
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mini-program-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: inline-block;
}
.mini-program-item p {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    color: rgba(117,117,117,1);
}
.mini-program-item button {
    padding: 18px 0;
    font-size: 14px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(13, 186, 75, 1);
    border: 1px solid rgba(13, 186, 75, 1);
}
.mini-program-item button:hover {
    background-color: #fff;
    color: rgba(13, 186, 75, 1);
    cursor: pointer;
}

.industry {
    width: 100%;
    position: relative;
    padding: 48px 0;
}
.industry-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
}
.industry-heading {
    width: 100%;
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}
.industry-heading-container {
    width: 100%;
    padding: 0 15px;
}
.industry-heading-container h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 9px;
}
.industry-heading-container p {
    margin-bottom: 7px;
    color: rgba(117,117,117,1);
}
.industry-row {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.industry-column{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;
}
.industry-column img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: inline-block;
}
.benefits {
    width: 100%;
    position: relative;
    text-align: center;
}
.benefits-container {
    padding: 90px 0 68px;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
}
.benefits-heading {
    width: 100%;
    max-width: 1160px;
    padding: 0 10px 64px;
    margin: 0 auto;
    text-align: center;
}
.benefits-heading-container h2 {
    font-size: 34px;
    line-height: 140%;
    font-weight: 700;
}
.benefits-row-container {
    width: 78%;
    margin: 0 auto;
    text-align: center;
}
.benefits-row {
    display: flex;
    justify-content: space-between;
}
.benefits-column {
    width: 50%;
    padding: 0 15px;
}
.benefits-column-container {
    width: 100%;
    padding: 10px 18px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.benefits-icon {
    display: inline-block;
    margin-right: 18px;
}
.benefits-text {
    text-align: left;
}
.footer {
    width: 100%;
    padding: 24px 0;
    background-color: #f06901;
    text-align: center;
    margin: 0 auto;
}
.footer-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 15px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    color: #fff;
}
.footer-heading-container {
    width: 100%;
    max-width: 1160px;
    padding: 10px;
}
.footer-text>p>span {
    text-decoration: underline;
    font-weight: 700;
}
.footer-brand {
    background-color: black; 
    color: #fefefe;
}
.footer-brand-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footer-brand-cpyrts-width {
    width: 44.11%!important;
}